<div class="col-md-10 col-md-offset-1">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h2><%= @message.title %></h2>
    </div>
    <p class="panel-body">
      <%= @message.description %>
    </p>
    <div class="panel-footer">
      <p>
        <%= time_ago_in_words(@message.created_at) %> ago
      </p>
      <div class="btn-group">
        <%= link_to 'List', root_path, class: 'btn btn-default' %>
        <%= link_to 'Edit', edit_message_path(@message), class: 'btn btn-primary' %>
        <%= link_to 'Delete', messages_path(@message), method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn btn-danger' %>
      </div>
    </div>
  </div>
</div>
