<div class="col-md-10 col-md-offset-1">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h2><%= @message.title %></h2>
    </div>
    <div class="panel-body">
      <p><%= @message.description %></p>

      <% unless @message.comments.blank? %>
        <h3>Comments:</h3>
        <p><%= render @message.comments %></p>
      <% end %>
      <% if user_signed_in? %>
        <h4>Reply</h4>
        <%= render 'comments/form' %>
      <% end %>
    </div>
    <div class="panel-footer">
      <p>
        <%= time_ago_in_words(@message.created_at) %> ago
      </p>
      <div class="btn-group">
        <%= link_to 'List', root_path, class: 'btn btn-default' %>
        <% if user_signed_in? %>
          <% if @message.user_id == current_user.id %>
            <%= link_to 'Edit', edit_message_path(@message), class: 'btn btn-primary' %>
            <%= link_to 'Delete', { action: :destroy, id: @message.id }, method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn btn-danger' %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
